doctype html
head
  block head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')

    title Example Page

    block styles
      link(rel='stylesheet' href='./vendors/bootstrap.min.css')

body
  block body
    .container
      .row
        block content

  block scripts
    script(src='./vendors/jquery.slim.min.js')
    script(src='./vendors/popper.min.js')
    script(src='./vendors/bootstrap.min.js')
